:root {
    // css custom properties
    --background-color: hsl(0, 0%, 13%);
    --text-color: hsl(0, 0%, 100%);
}

.magenta {
    background-color: hsl(300, 100%, 50%);
}

.green {
    background-color: hsla(120, 100%, 25%, 0.753);
}