@use '../util/' as u;

.grid {
    display: grid;
    grid-template-columns: 1fr; //1 column
    gap: u.rem(40);
    grid-template-rows: auto auto; //sized based on how much the content needs
    // max-width: 1000px;
    width: min(100% - u.rem(40), u.rem(1000));//adds 20px to each side
    margin-inline: auto; //only sets the right and left properties

    @include u.breakpoint(large){
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }

    &__main, &__sidebar {
        padding: u.rem(40);
    }
    &__main {
        background-color: hsl(216, 100%, 25%);

        @include u.breakpoint(medium) {
            background-color: hsl(120, 100%, 25%);
        }

        @include u.breakpoint(large) {
            background-color: hsl(39, 100%, 50%);
        }
    }

    &__sidebar {

        @include u.breakpoint-down(medium){
            text-align: center;
        }
    }

    &__widget {
        padding: u.rem(16);
    }

}